#container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 120px; */
}

#container #logout-button {
    background-color: hsl(0, 0%, 98%);
    margin-top: 10px;
    border-radius: 10px;
    font-size: 14px;
    padding: 6px 12px 6px 12px;
}

#container #logout-button:hover {
    background-color: hsl(0, 93%, 78%);
}

.login-section {
    display: flex;
    width: 80vw;
    height: 65vh;
    justify-content: space-between;
}

.login-section div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.register, .login {
    padding: 30px;
    width: 40%;
    height: 60vh;
    display: flex;
    border: 0px solid black;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.register h3, .login h3 {
    font-size: 35px;
    margin-top: 5px;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
}

button {
    width: 18%;
    min-width: fit-content;
    padding: 8px;
    background-color: var(--button-background-color);
}

#remember-me {
    display: flex;
    gap: 10px;
}

.user-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
}

#user-stats {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    font-size: 20px;
    padding: 50px;
    border-radius: 20px;
    height: 30vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#user-layout {
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: space-around;
    align-items: center;
}
