#container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 120px; */
}

#container #logout-button {
    background-color: hsl(0, 100%, 75%);
    margin-top: 20px;
}


.login-section {
    display: flex;
    width: 80vw;
    height: 65vh;
    justify-content: space-between;
}

.login-section div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.register, .login {
    padding: 30px;
    width: 40%;
    display: flex;
    border: 0px solid black;
    border-radius: 25px;
    box-shadow: 3px 15px 50px -12px rgb(0 0 0 / 0.25);
}

.register h3, .login h3 {
    font-size: 35px;
    margin-top: 5px;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
}

button {
    width: 18%;
    min-width: fit-content;
    padding: 8px;
    background-color: var(--button-background-color);
}

#remember-me {
    display: flex;
    gap: 10px;
}