@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Syne:wght@400..800&display=swap');

body {
  height: 100%;
}

nav i {
  color: var(--icon-color);
}

i {
  color: var(--icon-color)
}

#leaderboard-modal {
  /* translate: -50% -50% !important; */
  transform: translate(-50%, calc(-50% + (1 - var(--open)) * -20%));
}

#leaderboard-modal,
#leaderboard-modal::backdrop {
  --open: 0;
  --duration: calc(0.2s + (var(--open) * 0.20s));
  transition: all var(--duration) ease allow-discrete;
  opacity: var(--open);
}

#leaderboard-modal::backdrop {
  background-color: rgba(0, 0, 0, 0.2);
}

#leaderboard-modal[open],
#leaderboard-modal[open]::backdrop {
  --open: 1
}

@starting-style {
  dialog {
    transform: translate(-50%, -70%) !important;
  }

  dialog,
  dialog::backdrop {
    opacity: 0;
    --open: 0
  }
}

#logo {
  background-color: var(--logo-color);
  border-radius: 25px;
}

#theme-buttons,
#sound-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

#sound-buttons button {
  background-color: var(--button-background-color);
}

/* Themes */
.default-theme {
  --background-color: white;
  --logo-color: white;
  --text-color: black;
  --title-text-color: black;
  --subtitle-text-color: rgb(62, 62, 62);
  --icon-color: black;
  --button-background-color: white(65, 128, 205);
  --test-background-color: white;
  --test-font-color: black;
  --box-shadow-color: black;
  --correct-char-color: green;
  --incorrect-char-color: red;
}

#default-theme {
  background-color: white;
  color: rgb(41, 113, 201);
  border: 2px solid black;
}

.dark-theme {
  --background-color: #1E1E1E;
  --logo-color: #7a7a7a;
  --text-color: #D4D4D4;
  --title-text-color: #ACACAC;
  --subtitle-text-color: #D4D4D4;
  --icon-color: #D4D4D4;
  --button-background-color: #949292;
  --test-background-color: #121212;
  --test-font-color: #D4D4D4;
  --box-shadow-color: rgba(0, 0, 0, 0.2);
  --correct-char-color: rgb(73, 73, 73);
  --incorrect-char-color: rgb(206, 111, 111);
}

#dark-theme {
  background-color: rgb(67, 67, 67);
  color: white;
  border: 2px solid black;
}

.pink-theme {
  --background-color: #fff0f5;
  --logo-color: #fff0f5;
  --text-color: #333;
  --title-text-color: #ff69b4;
  --subtitle-text-color: #666;
  --icon-color: #ff69b4;
  --button-background-color: #ff69b4;
  --test-background-color: #fff;
  --test-font-color: #333;
  --box-shadow-color: rgba(0, 0, 0, 0.2);
  --correct-char-color: #ff69b4;
  --incorrect-char-color: rgb(161, 161, 161);
}

#pink-theme {
  background-color: white;
  color: rgb(247, 114, 136);
  border: 2px solid black;
}

.blueberry-theme {
  --background-color: #eaf4fc;
  --logo-color: #eaf4fc;
  --text-color: #3f6790;
  --title-text-color: #0b4f6c;
  --subtitle-text-color: #4ca1af;
  --button-background-color: #93aad8;
  --test-background-color: white;
  --test-font-color: black;
  --box-shadow-color: rgba(59, 89, 152, 0.3);
  --correct-char-color: #0b4f6c;
  --incorrect-char-color: #908f8f;
}

#blueberry-theme {
  background-color: #c0e2fe;
  color: #3b5998;
  border: 2px solid black;
}

.lavendar-theme {
  --background-color: #E6E6FA;
  --logo-color: #E6E6FA;
  --text-color: #333;
  --title-text-color: #967BB6;
  --subtitle-text-color: #7E685A;
  --icon-color: #967BB6;
  --button-background-color: #af9ac8;
  --test-background-color: #FFF;
  --test-font-color: #333;
  --box-shadow-color: rgba(0, 0, 0, 0.2);
  --correct-char-color: #967BB6;
  --incorrect-char-color: #908f8f;
}

#lavendar-theme {
  background-color: #d6d6fa;
  color: black;
  border: 2px solid black;
}

.forest-theme {
  --background-color: #35654d;
  --logo-color: #458565;
  --text-color: #FFFFFF;
  --title-text-color: #70b77e;
  --subtitle-text-color: #a9cfb8;
  --icon-color: #70b77e;
  --button-background-color: #70b77e;
  --test-background-color: #1f3a2e;
  --test-font-color: #FFFFFF;
  --box-shadow-color: rgba(112, 183, 126, 0.3);
  --correct-char-color: #70b77e;
  --incorrect-char-color: #908f8f;
}

#forest-theme {
  background-color: darkgreen;
  color: white;
  border: 2px solid black;
}

.cartoon-theme {
  --background-color: #1f1f1f;
  --logo-color: #606060;
  --text-color: #00ffdc;
  --title-text-color: #ff00c8;
  --subtitle-text-color: rgb(251, 255, 0);
  --icon-color: #05f3ff;
  --button-background-color: white;
  --test-background-color: black;
  --test-font-color: black;
  --box-shadow-color: black;
  --correct-char-color: #ff00c8;
  --incorrect-char-color: #ff0000;
}

#cartoon-theme {
  background-color: #1f1f1f;
  color: #ff00c8;
  border: 2px solid black;
}

.discord-theme {
  --background-color: rgb(44, 47, 51);
  --logo-color: rgb(93, 122, 152);
  --text-color: rgb(220, 221, 222);
  --title-text-color: rgb(114, 137, 218);
  --subtitle-text-color: rgb(153, 170, 181);
  --button-background-color: rgb(114, 137, 218);
  --test-background-color: rgb(35, 39, 42);
  --test-font-color: rgb(220, 221, 222);
  --box-shadow-color: black;
  --correct-char-color: rgb(114, 137, 218);
  --incorrect-char-color: rgb(154, 154, 154);
}

#discord-theme {
  background-color: rgb(36, 36, 36);
  color: rgb(114, 137, 218);
  border: 2px solid black;
}

.matrix-theme {
  --background-color: rgb(17, 17, 17);
  --logo-color: rgb(0, 86, 0);
  --text-color: rgb(117, 155, 117);
  --title-text-color: darkgreen;
  --subtitle-text-color: green;
  --icon-color: green;
  --button-background-color: green;
  --test-background-color: black;
  --test-font-color: rgb(132, 132, 132);
  --box-shadow-color: gray;
  --correct-char-color: green;
  --incorrect-char-color: rgb(116, 116, 116);
}

#matrix-theme {
  background-color: black;
  color: green;
  border: 2px solid black;
}

* {
  font-family: "DM Sans", sans-serif;
  font-weight: 550;
  letter-spacing: -0.015em;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html {
  height: 100%;
  width: 100%;
}

#title {
  font-size: 70px;
  font-weight: 700;
  color: var(--title-text-color);
}

#subtitle {
  font-size: 35px;
  color: var(--subtitle-text-color);
}

#container {
  margin: auto;
  justify-content: center;
  width: 80vw;
  height: 80vh;
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#section1 {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

button {
  background-color: var(--background-color);
  border: 2px solid black;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  color: black;
  cursor: pointer;
}

#accuracy-display {
  display: flex;
  gap: 10px;
}

nav {
  width: 100vw;
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 4px var(--box-shadow-color);
  padding: 5px 0;
}

nav div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-right: 20px;
}

nav div button {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--button-background-color);
  color: white;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 15px;
}

nav img {
  padding-left: 30px;
  margin-top: 10px;
  font-size: 30px;
  cursor: pointer;
  color: black;
}

#section1 {
  padding-bottom: 30px;
  border-bottom: 1px solid gray;
}

#section2 {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

#section3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#test-1,
#test-2,
#test-settings {
  border: 2px solid gray;
  padding: 25px;
  background-color: var(--test-background-color);
  color: var(--test-font-color);
  border-radius: 20px;
  font-size: 1.75rem;
  position: relative;
}


nav a {
  display: flex;
  align-items: center;
}

nav a #logged-username {
  margin-right: 15px;
  color: var(--icon-color);
}

i {
  font-size: 30px;
  cursor: pointer;
}

#restart-button-1:hover {
  color: rgb(41, 113, 201);
}

i:focus {
  outline: 2px solid black;
}

nav #nav-buttons .nav-button:hover {
  color: rgb(41, 113, 201);

  i,
  p {
    color: rgb(41, 113, 201);
  }
}

.test-textbox {
  white-space: pre-wrap;
  word-break: break-word;
}

.test-char-space {
  display: inline-block;
}

.test-char {
  display: inline;
}

.test-char-incorrect {
  color: var(--incorrect-char-color);
}

.test-char-correct {
  color: var(--correct-char-color);
}

#stats {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

#wpm-display {
  display: hidden;
  flex-direction: row;
  gap: 10px;
}

#restart-button {
  cursor: pointer;
  font-size: 30px;
}

a {
  text-decoration: none;
}

.test-caret {
  position: absolute;
  width: .1em;
  font-size: 2rem;
  border-radius: .5rem;
  top: 25px;
  left: 25px;
  height: 1.2em;
  background-color: var(--text-color);
  transition: 50ms top ease, 50ms left ease;
  animation: caretAnim 1s infinite;
  opacity: 1;
}

@keyframes caretAnim {
  0%,
  100% {
    opacity: 0.1;
  }

  50% {
    opacity: 1;
  }
}

.modal-container-introduction {
    width: 40vw;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    padding: 30px 30px 30px 40px;
}

ul, li {
    padding: 0;
  margin: 0;
}

.modal-container-introduction li {
  list-style-type: none;
}

.modal-container-introduction section {
  display: flex;
  justify-content: space-between;
}

.modal-feature {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.features-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.modal-features-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.section-features, .section-start {
  margin-top: 30px;
}

.section-start {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-start button {
  width: 20%;
}

#start-typing:hover {
  background-color: rgb(60, 139, 60);
  transition: 0.5s;
}