/* Keyframes for bounceIn animation */
@keyframes bounceIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  60% {
    transform: translateY(-20%);
    opacity: 1;
  }
  80% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Common styles for icons */
.toast-success i, .toast-warning i {
    size: 16px;
    color: white;
}

/* Common styles for paragraphs */
.toast-success p, .toast-warning p {
    color: white;
    font-size: 20px;
}

/* Specific styles for toast-warning paragraphs */
.toast-warning p {
    font-size: 20px;
}

/* Common styles for spans */
.toast-success span, .toast-warning span {
    color: white;
}

/* Base styles for both toasts */
.toast-success, .toast-warning {
    position: absolute;
    display: none;
    justify-content: space-between;
    width: 17vw;
    align-items: center;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 15px 20px;
}

.show {
  display: flex !important;
  animation: bounceIn 0.5s;
}

.hide {
  display: flex !important;
  animation: fadeOut 0.25s;
}

/* Specific styles for toast-warning */
.toast-warning {
    background-color: rgb(219, 76, 76);
}

.toast-success {
  background-color: green;
}
